<h1 class="center"><%= spot.name %></h1>

<div class="row">
  <div class="col s12 m4">
    <div>
      <img class="responsive-img" src="<%=spot.image%>">
    </div>
    <hr>
    <div>
      <p><strong>Neighborhood?</strong> <%= spot.neighborhood %></p>
      <p><strong>Specialty?</strong> <%= spot.specialty %></p>
      <p><strong>Price?</strong> <%= spot.price %>🥢</p>
    </div>
  </div>
  <div class="col s12 m8">
    <%= spot.description %>
    <hr>
    <% if(spot.sunday) { %>
      <h3 class="purple-text text-accent-4">OMG! OPEN SUNDAYS!!! 😱</h3>
    <% } else { %>
      <p>As expected, not open Sundays. 😤 </p>
    <% } %>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <h3 class="center">User Reviews</h3>
    <% if(spot.reviews && spot.reviews.length) { %>
      <% spot.reviews.forEach((r) => { %>
        <div class="blue-text darken-2">
          <p>Rated <%= r.rating %> ⭐️s</p>
          <p>&lsquo;<em><%= r.comment %></em>&rsquo; &mdash;<%= r.name %></p>
          <hr>
        </div>
      <% }) %>
    <% } else { %>
      <h4>Be the first to review <%= spot.name %>!</h4>
    <% } %>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <h3 class="center">Add New Review</h3>
    <div class="row">
      <form class="col s12" method="POST" action="/reviews">
        <input type="hidden" name="spotId" value="<%=spot.id%>">
        <div class="row">
          <div class="input-field col s12 m6">
            <input placeholder="Your Name" id="name" name="name" type="text" class="validate">
            <label for="name">Your Name</label>
          </div>
          <div class="range-field col s12 m6">
            <input placeholder="rating" id="rating" name="rating" type="range" min="0" max="5" step="0.1">
            <label for="rating">Your Star Rating</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="comment" name="comment" class="materialize-textarea"></textarea>
            <label for="comment">Your Thoughts</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button class="btn waves-effect waves-light right" type="submit">Add Your Two Cents
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
